/**************************************************************/
/* General Stylings */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

::selection {
  background-color: #8a2be2b8;
  color: white;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

a {
  color: blueviolet;
  padding: 5px;
}

/**************************************************************/
/* Specific Stylings */

.main-header {
  padding: 32px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(66, 66, 66, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
}

.profession::after {
  content: " 🖥️";
}

.nav-link + .nav-link {
  margin-left: 48px;
}

.nav-link:hover {
  background-color: aliceblue;
}

.nav-link:active {
  color: white;
  background-color: rgba(240, 248, 255, 0.254);
}

.main {
  padding: 32px;
  max-width: 800px;
  margin: 0 auto;
}

.main > article + article {
  margin-top: 48px;
  border-top: 2px solid #4242425c;
}

.address-link:hover {
  color: rgba(137, 43, 226, 0.694);
}

.address-link:active {
  color: red;
}
