/**************************************************************/
/* General Stylings */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

::selection {
  background-color: #8a2be2b8;
  color: white;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

a {
  color: blueviolet;
  padding: 5px;
}

/**************************************************************/
/* Specific Stylings */

.main-header {
  padding: 2rem;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(66, 66, 66, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
}

.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.profession::after {
  content: " 🖥️";
}

.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: floralwhite;
  border: 1px solid floralwhite;
  background: linear-gradient(
    0deg,
    rgb(255 255 255 / 76%) 0%,
    rgb(62 62 62) 100%
  );
}

.nav-link + .nav-link {
  margin-left: 3rem;
}

.nav-link:hover {
  background-color: aliceblue;
}

.nav-link:active {
  color: white;
  background-color: rgba(240, 248, 255, 0.254);
}

.main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.main > * {
  padding: 0 1rem;
}

.main > article + article {
  margin-top: 3rem;
  border-top: 0.125rem solid #4242425c;
}

.address-link:hover {
  color: rgba(137, 43, 226, 0.694);
}

.address-link:active {
  color: red;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}
